<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica 01</title>
    <link rel="stylesheet" href="file:///C:/Users/Decoraciones%20Max/Downloads/bootstrap.min.css">
</head>
<body> 
    <h1>Tabla de articulos</h1>
    <nav class="navbar navbar-dark bg-dark">
      <a href="/" class="navbar-brand">Tabla de articulos</a>  
    </nav>
</body>
</html>